

@font-face {
    font-family: 'introrustg-base2line';
    src: url('introrustg-base2line-webfont.woff2') format('woff2'),
         url('introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family: 'introrustg-base2line', sans-serif;
	font-size: 20px;
	width: 100%;
}
.nav{
	list-style-type: none;
	font-size: 1.8em;
	background-color: #6ee6b1;
	color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 1em;
	margin: 0;
	padding: 0.2em;
}
.nav li{
	list-style-type: none;
}
.nav a{
	color: black;
    text-decoration: none;
}
.nav a:hover{
	color: white;
}

span{
	font-size: 1.5rem;
}
.dropdown{
	background: #6ee6b1;
	position: absolute;
	display: none;
	text-align: center;
	transform: translateX(-15%);	
}

.nav li:hover .dropdown{
	display: block;
}

.logo{
	width: 7rem;
	/*height: auto;*/
	/*align-items: center;*/
	/*margin: 1rem;*/
}
.mobile-menu {
	display: none;
}
.hamburger {
	display: none;
}
.hamburger img {
	width: 32px;
	height: 32px;
}
#menu-toggle:checked~.mobile-menu {
	display: block;
}
#menu-toggle {
	display: none;
}
.mobile-menu {
		display: none;
	}
@media screen and (max-width: 600px) {
	.nav-bar {
		display: none;
	}
	.hamburger {
		display: flex;	
	}
	.mobile-menu {
		flex-direction: column;
	}
	.mobile-menu ul { 
		display: flex;
		flex-direction: column;
		list-style: none;
		gap: 1rem;
	}
}