.nav{
	list-style-type: none;
	font-size: 1.8em;
	background-color: #6ee6b1;
	color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 1em;
	margin: 0;
	padding: 1em;
}
.nav a{
	color: black;
    text-decoration: none;
}
.nav a:hover{
	color: white;
}
.logo{
	width: 7rem;
	height: auto;
}