

@font-face {
    font-family: 'introrustg-base2line';
    src: url('introrustg-base2line-webfont.woff2') format('woff2'),
         url('introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family: 'introrustg-base2line', sans-serif;
	font-size: 20px;
	width: 100%;
	height: 100%;
}

footer {
	font-size: 0.7rem;
	width: 100%;
	background-color: #6ee6b1;
	color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0 5rem;
	font-family: Georgia, serif;
	box-sizing: border-box;
}
footer img {
	width: 30px;
	height: 30px;

}

footer p img {
	vertical-align: middle;
	margin-right: 0.5rem;
}

h3::first-letter { font-size: 1.5rem; 
					color: #f97d00;
}
p{
	margin-left: 2rem;
}
p::before{
	content: "";
	display: inline-block;
	width: 2rem;
}

/*index page*/
	#hero {
		width: auto;
		height: auto;
    	background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('herobackground.jpg');
		background-size: cover;
		background-position: center;
    	background-repeat: no-repeat;
		color: white;
	}

	.internal-page{
		background-color: #8adddc;
	}

	.container {
    	width: 100%;
    	height: 100%;
    	margin: 0 auto;
    	text-align: left;
    	padding-left: 50px;
	}

	.info h1 {
		font-size: 4rem;
    	margin: 0 0 2rem 0;	
	}

	.info p {
		font-size: 1rem;
		max-width: 55%;
		margin: 0;
		line-height: 1.7rem;
		text-align: left;
		margin-top: 1rem;
		padding-left: 10px;
	}

	.info blockquote {
		font-size: 1rem;
		max-width: 45%;
		margin: 0 auto;
		text-align: center;
		line-height: 1.7rem;
		margin-top: 10rem;
		padding-left: 10px;
	}

	.cta-button {
		text-decoration: none;
		background-color: #f97d00;
		border-radius: 35px;
		font-size: 1.8rem;
		float: right;
		margin-right: 15%;
		padding: 0.5em 0.5rem;
		margin-top: 2rem;
		color: rgb(8, 8, 8);
	}

	.cta-button:hover {
		color: #fff;
	}

/*--About Me--*/
	.about-h1 {
		font-size: 1.5rem;
		justify-self: center;
	}			
	.about-p {
		font-size: 1rem;
	}

	.ed-h{
		font-size: 1rem;
		margin-left: 7rem;
	}

	.credentials-ed{
		list-style-type: square;
		font-size: 0.9rem;
		font-family: sans-serif;
		color: rgb(77, 73, 73);
		margin-left: 8rem;
	}

	.degree{
		list-style-type: circle;
	}

	.credentials-cert{
		list-style-type: square;
		font-size: 0.9rem;
		font-family: sans-serif;
		color: rgb(77, 73, 73);
		margin-left: 8rem;
	}

	.resume-button {
		text-decoration: none;
		background-color: #f97d00;
		border-radius: 35px;
		font-size: 1.8rem;
		padding: 0.5em;
		margin: 5rem;
		border: 1px solid #b6610b;
		color: rgb(8, 8, 8);
		box-shadow: 6px 6px 5px gray;
	}

	.resume-button:hover {
		color: #fff;
	}

	.headshot{
		width: 150px;
		border-radius: 20px;
		box-shadow: 6px 6px 5px gray;
	}

	.aboutmevideo{
		border-radius: 20px;
		box-shadow: 6px 6px 5px #f97d00;
	}

	.video{
		text-align: center;
	}
/*About Me Layout*/	
	#layout-about {
		display: grid;
		grid-template-rows: 0.13fr 0.07fr 0.32fr 0.43fr 0.05fr;
		grid-template-columns: 0.5fr 2fr 1fr 1fr;
		grid-template-areas: 
			"logo logo logo logo"
			"nav nav nav nav"
			"img main main main"
			"ed ed resume video"
			"footer footer footer footer";
		gap: 0.25rem;
		padding: 0.25rem;
	}

	.logo {
		grid-area: logo;
		justify-self: center;
		align-self: center;
	}

	.nav-bar {
		grid-area: nav;
	}

	.headshot {
		grid-area: img;
		justify-self: center;
		align-self: center;
	}

	.main-p {
		grid-area: main;
		font-size: 0.9rem;	
	}

	.ed {
		grid-area: ed;
	}

	.resume-button {
		grid-area: resume;
		display: inline-block;
		text-align: center;
		padding: 0.5rem 1rem;
		justify-self: center;
		align-self: start;
	}

	.video {
		grid-area: video;
		justify-self: center;
		align-self: center;
		width: 100%;
	}

	footer {
		grid-area: footer;
	}

/*--responsive for tablet--*/

	@media screen and (max-width: 900px) {
		#layout-about {
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				"logo logo"
				"nav nav"
				"img main"
				"ed resume"
				"video video"
				"footer footer"
			}

		.main-p {
			padding: 0.5rem 1rem;
		}

		resume-button {
			justify-self: center;
		}

		.video {
			text-align: center;
		}

		footer {
			justify-self: center;
			align-self: center;
		}
	}	

/*--responsive for mobile device--*/

	@media screen and (max-width: 600px) { 
		#layout-about { 
			grid-template-columns: 1fr;
			grid-template-areas:
				"logo"
				"nav"
				"img"
				"main"
				"ed"
				"resume"
				"video"
				"footer";
			}
		}
	
		footer {
			justify-self: center;
			align-self: center;
		}
		.main-p {
			justify-self: center;
			text-align: center;
			margin: 0;
		}

		.ed-h {
			justify-self: left;
			text-align: left;
			margin: 0;
			padding: 1rem;
		}

		.credentials-ed {
			justify-self: left;
			text-align: left;
			margin: 0;

		}

		.credentials-cert {
			justify-self: left;
			text-align: left;
			margin: 0;
		}
	
		.resume-button {
		width: fit-content;
		}

		video {
			max-width: 100%;
			height: auto;
		}

/*Print About Me*/

	@media print {
		body.about-page nav,
		body.about-page img,
		body.about-page figure,
		body.about-page a {display: none;}

		body.about-page {
			background: white;
			font-size: 12pt;
			font-family: Georgia, serif;
			color: black;
			line-height: 1.3;
			margin: 0;
			padding: 1in;
		}	

		h1 {
			font-size: 16pt;
			font-family: Georgia, serif;
			margin: 0;
			padding-bottom: 0.5in;
		}

		body.about-page p {
			margin: 0;
			padding: 0;
		}

		body.about-page h3::first-letter {
			font-size: 14pt;
			color: black;
		}

		h3.ed-h {
			font-size: 14pt;
			font-family: Georgia, serif;
			color: black; 
			margin: 0;
			padding-top: 0.5in;
		}

		.credentials-ed {
			font-size: 12pt;
			font-family: Georgia, serif;
			color: black;
			margin: 0;
			padding-left: 0.5in;	
		}

		.credentials-ed strong {
			font-weight: normal;
		}	

		.credentials-cert {
			font-size: 12pt;
			font-family: Georgia, serif;
			color: black;
			margin: 0;
			padding-left: 0.5in;	
		}

		.credentials-cert strong {
			font-weight: normal;
		}

		footer {
			background-color: white;
			color: black;
			margin: 0;
			padding-top: 0.5in;
			font-size: 12pt;
			font-family: Georgia, serif;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			flex-wrap: nowrap;
			white-space: nowrap;
		}
	}

/*Lessons*/

	.commensalism-img {
		width: 400px;
		border-radius: 20px;
		box-shadow: 6px 6px 5px gray;
	}

	.commensalism-button {
		text-decoration: none;
		background-color: #f97d00;
		border-radius: 35px;
		font-size: 1.8rem;
		padding: 0.5em;
		margin: 1rem;
		border: 1px solid #b6610b;
		color: rgb(8, 8, 8);
		box-shadow: 6px 6px 5px gray;
		text-align: center;
		justify-content: center;
	}

	.commensalism-button:hover {
		color: #fff;
	}

	.mutualism-button {
		text-decoration: none;
		background-color: #f97d00;
		border-radius: 35px;
		font-size: 1.8rem;
		padding: 0.5em;
		margin: 1rem;
		border: 1px solid #b6610b;
		color: rgb(8, 8, 8);
		box-shadow: 6px 6px 5px gray;
		text-align: center;
		justify-content: center;
	}

	.mutualism-button:hover {
		color: #fff;
	}
	.mutualism-link {
		text-decoration: none;
		display: inline-block;
		text-align: center;
	}

	.mutualism-video {
		width: 350px;
		border-radius: 20px;
		box-shadow: 6px 6px 5px #f97d00;
		display: block;
		margin: 0;
	}

.video-text {
	display: block;
	margin-top: 1.5rem;
	color: black;	
}
.video-parasitism {
	text-align: center;
	font-size: 1.5rem;
}
.parasitism-button {
		text-decoration: none;
		background-color: #f97d00;
		border-radius: 35px;
		font-size: 1.8rem;
		padding: 0.5em;
		margin: 1rem;
		border: 1px solid #b6610b;
		color: rgb(8, 8, 8);
		box-shadow: 6px 6px 5px gray;
		text-align: center;
		justify-content: center;
	}

	.parasitism-button:hover {
		color: #fff;
	}
/*Lessons Layout*/

#lessons-layout {
		display: grid;
		grid-template-rows: 0.5fr 0.2fr 1fr 1.5fr 1.5fr 1.5fr 0.3fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
			"logo logo logo logo"
			"nav nav nav nav"
			"main main main main"
			"lesson1 lesson1 img worksheet1"
			"video2 worksheet2 lesson2 lesson2"
			"lesson3 lesson3 video3 worksheet3"
			"footer footer footer footer";
		gap: 0.25rem;
		padding: 0.25rem;
	}

	.logo {
		grid-area: logo;
		justify-self: center;
		align-self: center;
	}

	.nav-bar {
		grid-area: nav;
	}

	.main-h {
		grid-area: main;
		text-align: center;
		margin: 1rem;
	}

	.lesson1p {
		grid-area: lesson1;
		text-align: center;
		margin: 1rem;
	}

	.commensalism-img {
		grid-area: img;
		justify-self: center;
		align-self: center;
	}

	.commensalism-button {
		grid-area: worksheet1;
		display: inline-block;
		text-align: center;
		padding: 0.5rem 1rem;
		justify-self: center;
		align-self: center;
	}
		
	.lesson2p {
		grid-area: lesson2;
		text-align: center;
		margin: 1rem;
	}

	.mutualism-link {
		grid-area: video2;
		justify-self: center;
		align-self: center;
	}

	.mutualism-button {
		grid-area: worksheet2;
		display: inline-block;
		text-align: center;
		padding: 0.5rem 1rem;
		justify-self: center;
		align-self: center;
	}

	.lesson3p {
		grid-area: lesson3;
		text-align: center;
		margin: 1rem;
	}

	.video-parasitism {
		grid-area: video3;
		justify-self: center;
		align-self: center;
	}

	.parasitism-button {
		grid-area: worksheet3;
		display: inline-block;
		text-align: center;
		padding: 0.5rem 1rem;
		justify-self: center;
		align-self: center;
	}

	footer {
		grid-area: footer;
	}

@media screen and (max-width: 900px) {
		#lessons-layout {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: minmax(100px, auto);
			grid-template-areas:
				"logo logo"
				"nav nav"
				"main main"
				"lesson1 lesson1"
				"img worksheet1"
				"lesson2 lesson2"
				"video2 worksheet2"
				"lesson3 lesson3"
				"video3 worksheet3"
				"footer footer"
			}

		.main-p {
			padding: 0.5rem 1rem;
		}

		.video {
			text-align: center;
		}

		footer {
			justify-self: center;
			align-self: center;
		}
	}	

	@media screen and (max-width: 600px) { 
		#lessons-layout { 
			grid-template-columns: 1fr;
			grid-template-areas:
				"logo"
				"nav"
				"main"
				"lesson1"
				"img"
				"worksheet1"
				"lesson2"
				"video2"
				"worksheet2"
				"lesson3"
				"video3"
				"worksheet3"
				"footer";
			font-family: Georgia, serif;
			}
		}
/*Resources*/

	.explore-cta {
		text-decoration: none;
		background-color: #f97d00;
		font-family: 'introrustg-base2line';
		border-radius: 35px;
		font-size: 1.8rem;
		padding: 1rem 2rem;
		margin: 2em 1.5em;
		border: 1px solid #b6610b;
		color: rgb(8, 8, 8);
	}

 	.explore-cta:hover {
		color: #fff;
 	}

	.resource-box {
		width: 350px;
		background-color: #6ee6b1;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		text-align: center;
		border: 3px solid lightblue;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.70);
		flex-direction: column;
		padding: 0;
		margin: 6rem;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}

	.resource-p {
		font-family: 'introrustg-base2line';
		text-align: center;
	}

	.resource-h {
		text-align: center;
	}

/*Contact*/

	.contact-h {
		text-align: center;
	}

	.contact-list {
		list-style-type: none;
	}

	.title-drop {
		margin: 0;
	}

	.title-p {
		margin: 0;
	}

	#form-name {
		margin: 1rem;
		width: 30%;
		height: 1.5rem
	}

	#form-email {
	margin: 1rem;
	width: 30%;
	height: 1.6rem
	}

	#form-message {
		margin: 1rem;
		margin-left: 4.5rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.submit {
		text-decoration: none;
		background-color: #f97d00;
		border-radius: 35px;
		font-family: 'introrustg-base2line';
		font-size: 1rem;
		padding: 0.5em;
		margin: 5rem;
		border: 1px solid #b6610b;
		color: rgb(8, 8, 8);
		box-shadow: 6px 6px 5px gray;
	}

	.submit:hover {
		color: #fff;
	}

	.reset {
		text-decoration: none;
		background-color: #f97d00;
		border-radius: 35px;
		font-family: 'introrustg-base2line';
		font-size: 1rem;
		padding: 0.5em;
		margin: 5rem;
		border: 1px solid #b6610b;
		color: rgb(8, 8, 8);
		box-shadow: 6px 6px 5px gray;
	}

	.reset:hover {
		color: #fff;
	}
